body {
    font-size: 100%;
    margin-left: 2em;
    margin-right: 2em;
}

header {
    padding-bottom: .75em;
    border-bottom: 2px solid black;
    margin-bottom: 0;
}

main p:first-child {
    font-weight: bold;    
}

main p:first-child::first-letter {
    font-size: 150%;
}

nav {
    font-size: .95em;    
}

li {
    list-style-type: square;
    padding: .25em;
}

h1 {
    font-size: 200%;
    margin-bottom: 0;
}

h2 {
    font-size: 150%;
    margin-bottom: 0;
}

a:link { color: green; }
a:hover, a:focus { color: blue; }

footer {
    font-size: .8em;
    padding-top: 1em;
    margin-top: 2em;
    border-top: 1px solid darkgray;
}