/* styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    width: 90%;
    margin: 0 auto;
    padding: 1em;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    white-space: nowrap;
}

th, td {
    border: 1px solid black;
    padding: .4em .7em;
    text-align: right;
}

th:first-child, td:first-child {
    text-align: left;
}

th:nth-child(2), td:nth-child(2) {
    text-align: center
}

th:nth-child(3), td:nth-child(3) {
    text-align: center
}

tbody tr:nth-child(even) {
    background-color: lightblue
}

thead, tfoot {
    background-color: #ddd;
}

tfoot {
    font-weight: bold;
}